

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root{
    --primary-soft-blue:  hsl(215, 51%, 70%);
    --primary-cyan: hsl(178, 100%, 50%);

    --neutral-main-bg: hsl(217, 54%, 11%);
    --neutral-card-bg: hsl(216, 50%, 16%);
    --neutral-line: hsl(215, 32%, 27%);
    --neutral-white:  hsl(0, 0%, 100%);
}


*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Outfit', sans-serif;
    background-color: var(--neutral-main-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
    flex-direction: column;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    cursor: pointer;
}

.wrapper{
    background-color: var(--neutral-card-bg);
    padding: 1.3rem;
    border-radius: 10px;
}

.description{
    padding: 1rem 0;
}


.description div{
    display: flex;
    align-items: center;
    gap: 5px;
}

.price-and-time{
    justify-content: space-between;
    border-bottom: 2px solid var(--neutral-line);
    padding: 1rem 0;
}

h4{
    margin-bottom: 1rem;
}

p{
    color: var(--neutral-line);
}

h4, span{
    color: var(--neutral-white);
}

.author{
    margin-top: 1rem;
}

.author img{
    width: 10%;
}

span:hover, h4:hover, .price p:hover{
    color: var(--primary-cyan);
    cursor: pointer;
}

.images:hover{
    background: url(images/icon-view.svg) no-repeat;
    background-position: 50%;
    border-radius: 10px;
    background-color: var(--primary-cyan)
}

.images img:hover{
    mix-blend-mode: saturation;
    display: block;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    border-radius: 10px;
}

.attribution { 
    color: var(--neutral-white);
    font-size: 11px; 
    text-align: center; 
}
.attribution a:nth-child(2) { 
    color: var(--primary-cyan); 
    
}

@media (min-width: 31.25em){
    body{
        max-width: 25em;
        margin: auto;
    } 
}